.background {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  /* Enables parallax background */
  transform: translateZ(-1px) scale(2);

  display: flex;
  flex-direction: column;
  gap: 100px;

  font-family: var(--font-mono);
  color: var(--color-red);
  opacity: 0.25;

  /* Make text un-highlight-able */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  .heart {
    display: flex;
    flex-direction: column;
    align-items: center;

    .backgroundLine {
      font-size: 70px;
      letter-spacing: 45px;
    }

    @media (max-width: 1024px) {
      .backgroundLine {
        font-size: 6vw;
        letter-spacing: 3.8vw;
      }
    }
  }

  .fillText {
    font-size: 40px;

    padding: 0 40px;

    @media (max-width: 1024px) {
      font-size: 30px;
    }
  }
}
