.cardWrapper{
    display: flex;
    flex-direction: column;
    height: 30vw;
    width: 20vw;
    position: relative;
    border-radius: 10px;
    background-color: var(--color-white);
    font-family: var(--font-jumbocode);
}

.topNumber{
    display: flex;
    height: 10%;
    text-align: center;
    vertical-align: middle;
}

.topNumberText
{
    font-size: 3vw;
}

.topSuit{
    background-color: pink;
    display: flex;
    height: 10%;
}

.topImg{
    background-color: brown;
    width: 20%;
    height: 100%;
    background-image: url('../images/heart.webp');
    background-size: 50px;
}

.middle{
    background-color: green;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.middleText
{
    text-align: center;
    overflow: wrap;
    font-size: 2vw;
}

.bottomSuit{
    background-color: hotpink;
    display: flex;
    height: 10%;
    width: 100%;
}

.bottomImg
{
    margin-left: auto;
    margin-right: 0;
    background-color: lawngreen;
    width: 20%;
    height: 100%;
    background-image: url('../images/heart.webp');
    background-size: 50px;
}

.bottomNumber{
    display: flex;
    height: 10%;
    position: relative;
}

.bottomNumberText
{
    font-size: 3vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*
.middleMiddle{
    overflow: wrap;
    font-size: 2vw;
    text-align: center;
    margin: auto;
}

.right{
    display: flex;
    justify-content: center;
    position: relative;
    width: 40%;
}

.rightImg
{
    position:absolute;
    right:0;
    bottom:0;
}

.bottom{
    height:10%;
    text-align: right; 
}

.bottomNum
{
    font-size: 3vw;
    position: absolute;
    bottom: 0;
    right: 0;
} */