.container {
  position: relative;
  width: 100%;
}

.scrollContainer {
  display: flex;
  gap: 64px;
  padding: 32px;
  overflow-x: scroll;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .judgeStack,
  .judgeStackCompressed {
    display: flex;
    flex-direction: column;
  }

  .judgeStackCompressed .judgeCard:nth-child(n + 2) {
    margin-top: -210px;
  }

  .judgeCard {
    transition: margin-top 0.5s ease-in-out;
  }
}

.column h2 {
  text-align: center;
  margin-bottom: 32px;
}

.moreArrow {
  position: absolute;
  top: 50%;
  right: 0;
  animation: bounceRight 1s infinite ease-in;
  font-family: var(--font-mono);
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0 0 32px rgba(0, 0, 0, 0.8);
}

@keyframes bounceRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}
