.container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin-top: 48px;
  font-family: var(--font-mono);

  /* Controls where the border gradient starts and ends */
  --stop-1: 20%;
  --stop-2: 25%;
  --stop-3: 40%;
  --stop-4: calc(100% - var(--stop-3));
  --stop-5: calc(100% - var(--stop-2));
  --stop-6: calc(100% - var(--stop-1));

  /* Controls central gradient color */
  --gradient-color-1: color(srgb 0.1255 0.1255 0.1255);
  --gradient-color-2: color(srgb 0.3333 0.3333 0.3333);
  --gradient-color-3: color(srgb 0.5255 0.5255 0.5255);

  --gradient: transparent 0%, transparent var(--stop-1),
    var(--gradient-color-1) var(--stop-1), var(--gradient-color-1) var(--stop-2),
    var(--gradient-color-2) var(--stop-2), var(--gradient-color-2) var(--stop-3),
    var(--gradient-color-3) var(--stop-3), var(--gradient-color-3) var(--stop-4),
    var(--gradient-color-2) var(--stop-4), var(--gradient-color-2) var(--stop-5),
    var(--gradient-color-1) var(--stop-5), var(--gradient-color-1) var(--stop-6),
    transparent var(--stop-6), transparent 100%;
}

.borderWide {
  background-image: linear-gradient(to right, var(--gradient));
  min-height: 16px;
  min-width: 16px;
}

.borderTall {
  background-image: linear-gradient(to bottom, var(--gradient));
  min-height: 16px;
  min-width: 16px;
}

.borderDivider {
  background-image: linear-gradient(to bottom, var(--gradient));
  min-height: 16px;
  min-width: 16px;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 32px;
}

@media (max-width: 800px) {
  .content {
    grid-template-columns: auto;
  }
  .borderWide {
    display: none;
  }
  .borderDivider {
    background-image: linear-gradient(to right, var(--gradient));
  }
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .row {
    display: flex;
    flex-direction: column;
  }
}

.schedule h2 {
  font-size: 25px;
  color: inherit;
  text-decoration: underline;
  font-style: normal;
  text-align: center;
}

.schedule h3 .pink {
  color: var(--color-pink);
}

.keynoteColor {
  color: var(--color-jumbocode-green);
}

.foodColor {
  /* color: #ac99dc; */
}

.talkColor {
  color: #ac99dc;
}

.workshopColor {
  color: #fee5a4;
}
