.container {
  padding-top: 100px;
  width: 100%;

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  @media (max-width: 800px) {
    .content {
      flex-direction: column-reverse;
    }
  }
}

.container a {
  color: var(--color-pink);
  text-decoration: underline;
}
