.heading{
    font-family: var(--font-jumbocode);
    color: var(--color-red); 
    font-size: 5vw; 
    display: flex; 
    justify-content: center; 
    overflow: hidden; 
    padding: .5rem; 
}

.heading h1{
    letter-spacing: 0.1rem; 
    text-align: center; 
    white-space: nowrap; 
    color: var(--color-jumbocode-green);
}

.typed{
    color: var(--color-red); 
}