.heading{
    color: #C6302C; 
    font-size: 5vw; 
    display: flex; 
    justify-content: center; 
    overflow: hidden; 
    padding: .5rem; 
}

.heading h1{
    letter-spacing: 0.1rem; 
    text-align: center; 
    white-space: nowrap; 
    color: #64DDBB;
}

.typed{
    color: #C6302C; 
}